<nav class="navbar navbar-expand-lg navbar-dark bg-dark rounded-bottom custom-navbar fixed-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">
      <img src="assets/ok.png" alt="Logo" class="navbar-logo" />
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
      aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarNav">
      <!-- Centered Links with spacing -->
      <ul class="navbar-nav mx-auto">
        <li class="nav-item mx-3">
          <a class="nav-link active no-outline" (click)="scrollTo('hero')">Home</a>
        </li>
        <!-- <li class="nav-item mx-auto">
          <a class="nav-link active no-outline" (click)="scrollTo('solutions')">Solutions</a>
        </li> -->
        <li class="nav-item mx-auto">
          <a class="nav-link active no-outline" (click)="scrollTo('pricing')">Pricing</a>
        </li>
        <li class="nav-item mx-auto">
          <a class="nav-link active no-outline" (click)="scrollTo('about')">About Us</a>
        </li>
      </ul>

      <!-- Right-Aligned Links -->
      <ul class="navbar-nav ms-auto">
        <li class="nav-item ms-3 d-flex align-items-center">
          <a class="nav-link btn btn-outline rounded-pill no-outline start-project-btn"
             href="https://mail.google.com/mail/?view=cm&fs=1&to=info@filtreach.com"
             target="_blank"
             rel="noopener noreferrer">
            Mail Us
          </a>
          <a href="https://mail.google.com/mail/?view=cm&fs=1&to=info@filtreach.com" target="_blank" rel="noopener noreferrer">
            <img src="assets/mail.svg" alt="SVG Image" class="svg-icon" />
          </a>
        </li>
      </ul>

    </div>
  </div>
</nav>
