<div class="hero-section text-center " style="position: relative; padding-top: 100px;">
  <div class="container">
    <!-- Floating Icons -->
    <a href="https://www.linkedin.com/company/filtreach/"  target="_blank"><img src="/assets/floating_icon1.svg" alt="Icon 1" class="icon1"/></a>
    <a href=""><img src="/assets/floating_icon2.svg" alt="Icon 2" class="icon2"/></a>
    <a href=""><img src="/assets/floating_3icon2.svg" alt="Icon 3" class="icon3"/></a>

    <!-- Headline -->
    <h1 class="display-4 fw-bold fade-in">
      <span>AI-Powered, Human-Led</span><br />
      <span>B2B Growth</span>
    </h1>

    <div class="search-bar mt-4 d-flex align-items-center p-3" >
      <div class="input-group w-100">
        <!-- Left SVG Icon -->
        <span class="input-group-text bg-dark border-0 d-flex align-items-center" style="padding: 0.75rem; border-top-left-radius: 20px; border-bottom-left-radius: 20px;">
          <img src="assets/Search bar@2x.svg" alt="Search" />
        </span>
        <!-- Input Field -->
        <input type="text" class="form-control border-0 text-white bg-dark text-center"
               [placeholder]="placeholderText" aria-label="Search" style="border-radius: 0;" />
        <!-- Right SVG Icon -->
        <span class="input-group-text bg-dark border-0 d-flex text-center" style="padding: 0.75rem; border-top-right-radius: 20px; border-bottom-right-radius: 20px;">
          <img src="assets/send.svg" alt="Send" />
        </span>
      </div>
    </div>




    <!-- Additional Text -->
    <p class="mt-3 fade-in" style="font-family: Supernormale W00 Regular ; font-size: 30px;">
      ANSWER: There are two ways to B2B...
    </p>


    <div id="solutions" (click)="scrollToSection()">
      <img src="assets/k.svg" alt="SVG Image" class="svg-icon" style="margin-bottom: 40px; cursor: pointer;" />
    </div>


    <!-- SVG Icon -->

  </div>
</div>
